# =========================
# AI SERVICE
# =========================
AI_SERVICE/__pycache__/
AI_SERVICE/*.pkl
AI_SERVICE/*.joblib
AI_SERVICE/*.h5
AI_SERVICE/*.pt
AI_SERVICE/*.pth

AI_SERVICE/rodago_bert_model/
AI_SERVICE/rodago_bert_model_final/

# =========================
# FLUTTER GENERATED
# =========================
FRONTEND/build/
FRONTEND/.dart_tool/
FRONTEND/.flutter-plugins
FRONTEND/.flutter-plugins-dependencies
FRONTEND/.pub-cache/
FRONTEND/.pub/

# =========================
# LARAVEL
# =========================
BACKEND/vendor/
BACKEND/node_modules/
BACKEND/storage/logs/*
BACKEND/storage/framework/cache/*
BACKEND/storage/framework/sessions/*
BACKEND/storage/framework/views/*
BACKEND/bootstrap/cache/*.php

# ENV
BACKEND/.env
BACKEND/.env.backup
BACKEND/.env.production

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db